@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Playfair+Display&family=Roboto:wght@400;500;700&display=swap");

body {
  font-size: 16px;
  font-family: "Baloo 2", cursive;
  background: #282a2d;
  color: #a4a6a8;
}

.menu {
  padding: 5px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-image: linear-gradient(#9536f6, #2b2d30);
}
.menu__titulo {
  width: 130px;
  color: #fff;
}

.menu__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  list-style-type: none;
}

.menu__link {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
}

.home {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  padding-top: 200px;
  height: 500px;
  background-color: #2b2d30;
}

.cont-home {
  justify-content: center;
  margin-top: 100px;
  width: 50%;
}

.home__titulo {
  font-size: 40px; 
   margin: 0;
}


.home__titulo::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.8s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.sobre {
  display: flex;
  max-height: 580px;
  padding-top: 200px;
  padding-bottom: 90px;
  justify-content: space-around;
  background-color: #282a2d;
}
.sobre__imagem {
  height: 27rem;
  border-radius: 50%;
  border: solid #9536f6;
  transition: ease-in-out 0.3s;
}
.curriculo {
  display: flex;
  justify-content: center;
}

.sobre__conteudo {
  max-height: 100%;
  max-width: 50%;
  justify-items: center;
}

.sobre__titulo {
  text-align: start;
  padding-top: 50px;
  flex-direction: column;
}

.sobre__paragrafo{
  flex-direction: column;
  text-align: start;
  font-size: 1.2rem;
  text-indent: 30px;
  max-width: 700px;
}

.home__imagem {
  height: 27rem;
  border-radius: 50%;
  border: solid #9536f6;
  transition: ease-in-out 0.3s;
}

.projetos {
  background-color: #2b2d30;
   padding: 100px;
}

.projetos-itens {
  margin: auto;
  max-width: 1200px;
}
.projetos-itens p {
  margin: 0;
}
.projeto__link{
  text-align: center;
  color: #9536f6;
}

.projetos__titulo{
  padding-bottom: 70px;
  color: #a4a6a8;
  text-align: center;
  font-size: 35px;
}

button {
  padding: 10px 100px;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  background-color: #363636;
  border: none;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #363636;
}
.hab-button {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 93px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.hab-button a {
  align-items: center;
}

.github-link a {
  text-decoration: none;
  color: #9536f6;
}
.projetos a {
  text-decoration: none;
  display: inline;
}

.pro {
  background-color: #c4c4c4;
  height: 195px;
  width: 310px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  border: solid 5px #9536f6;
}

.pro img:hover {
  width: 300px;
}

.pro p {
  font-family: Arial, Verdana, Serif;
  font-size: 20px;
  color: #c4c4c4;
  margin: 0;
}

.pro:hover {
  letter-spacing: 5px;
  border: solid 5px rgb(49, 223, 6);
}

.pro .breve {
  background-color: #363636;
  width: 1000px;
  text-align: center;
  padding: 5% 0;
  border-radius: 20px;
  transform: rotate(-50deg);
}
.js-esconde div.escondido {
  animation: show 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.escondido {
  display: none;
}

.projetos-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 29.5px;
  width: 100%;
  justify-content: center;
}
.pro img {
  max-width: 100%;
}
.habilidades {
  max-height: 100%;
}
.habilidades h2 {
  padding-bottom: 70px;
  color: #a4a6a8;
  text-align: center;
  font-size: 35px;
}
.habilidades ul {
  max-width: 20%;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  border-right: solid 4px #9536f6;
}
.hab-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.hab-content img {
  cursor: pointer;
}
.habilidades-descricao section {
  width: 500px;
}
.html .ativo img {
  content: url("../img/html-5-re.png");
}

.css .ativo img {
  content: url("../img/html-5-re.png");
}

.contatos {
  background-color: #2b2d30;
  height: 800px;
}
.contatos h1 {
  text-align: center;
  padding: 100px;
}

.container-contatos {
  display: flex;
  flex-wrap: wrap;
  gap: 29.5px;
  justify-content: center;
  padding-bottom: 60px;
}
.contat {
  border: solid white 2px;
  height: 195px;
  width: 310px;
  padding-top: 30px;
  border-radius: 20px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.icons {
  text-align: center;
  padding-top: 50px;
  display: block;
  margin: 10px;
}
.icons img {
  margin: 10px;
  height: 50px;
}

.rodape {
  padding: 5px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: #9536f6;
  color: #f5f5f5;
}

@media (max-width: 800px) {
  .projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .projetos {
    display: flex;
    justify-content: center;
  }

  .projetos-itens {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .pro {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    padding: 20px 0px;
  }

  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}

.js .js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transition: 0.3s;
  transform: translate3d(0, 0, 0);
}
