.botao {
  background-color: #363636;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 10px 100px;
  transition: ease-in-out 0.3s;
}

.botao:hover {
  color: rgb(49, 223, 6);
}
