.contatos {
  background-color: #2b2d30;
}
.contatos h1 {
  text-align: center;
  padding: 100px;
}

.container-contatos {
  display: flex;
  flex-wrap: wrap;
  gap: 29.5px;
  justify-content: center;
  padding-bottom: 60px;
}
.contat {
  border: solid white 2px;
  height: 195px;
  width: 310px;
  padding-top: 30px;
  border-radius: 20px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.icons {
  text-align: center;
  padding-top: 50px;
  display: block;
  margin: 10px;
}
.icons img {
  margin: 10px;
  height: 50px;
}
