.habilidades {
  max-height: 100%;
}
.habilidade__titulo {
  padding-bottom: 70px;
  color: #a4a6a8;
  text-align: center;
  font-size: 1rem;
}
.habilidades-lista {
  max-width: 20%;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  border-right: solid 4px #9536f6;
}
.hab-content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.hab-content img {
  cursor: pointer;
}
.habilidades-descricao {
  width: 500px;
}
.html .ativo img {
  content: url("../img/html-5-re.png");
}

.css .ativo img {
  content: url("../img/html-5-re.png");
}

@media (max-width: 361px) {
  .habilidades {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .habilidade__titulo {
    font-size: 1.5rem;
  }
  .habilidades-lista {
    flex-wrap: wrap;
    max-width: 100%;
    border-right: none;
    border-bottom: solid 4px #9536f6;
    padding-bottom: 40px;
  }
  .hab-content {
    display: flex;
    flex-direction: column;
  }
  .habilidades-descricao {
    text-align: center;
    margin: 5px;
    width: 98%;
    height: 300px;
  }
  .icon {
    width: 4rem;
  }
}
