.habilidades {
  max-height: 100%;
}
.habilidade__titulo {
  color: #a4a6a8;
  font-size: 2rem;
  padding-bottom: 70px;
  text-align: center;
}
.habilidades-lista {
  border-right: solid 4px #9536f6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  list-style-type: none;
  max-width: 20%;
  max-height: 100%;
}
.hab-content {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.hab-content img {
  cursor: pointer;
}
.habilidades-descricao {
  width: 500px;
}
.html .ativo img {
  content: url("../img/html-5-re.png");
}

.css .ativo img {
  content: url("../img/html-5-re.png");
}

@media (max-width: 574px) {
  .habilidades {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .habilidade__titulo {
    font-size: 1.5rem;
  }
  .habilidades-lista {
    border-right: none;
    border-top: solid 4px #9536f6;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 40px;
  }
  .hab-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .habilidades-descricao {
    height: 300px;
    margin: 5px;
    text-align: center;
    width: 98%;
  }
  .icon {
    width: 4rem;
  }
}
