.home {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  padding-top: 200px;
  height: 500px;
  background-color: #2b2d30;
}

.cont-home {
  justify-content: center;
  margin-top: 100px;
  width: 50%;
}

.home__titulo {
  font-size: 4vh;
  margin: 0;
}

.home__titulo::after {
  animation: pisca 0.8s infinite;
  content: "|";
  margin-left: 5px;
  opacity: 1;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.home__imagem {
  border: solid #9536f6;
  border-radius: 50%;
  height: 27rem;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 574px) {
  .home {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0;
    padding-top: 60px;
    width: 100%;
  }

  .home__imagem {
    height: 14vh;
  }

  .home__titulo {
    font-size: 1.2em;
    margin: 0;
  }

  .home__titulo-secundario {
    font-size: 1em;
  }

  .cont-home {
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    width: 50%;
  }
}

@media screen and (max-width: 970px) {
  .home {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0;
    padding-top: 10px;
    width: 100%;
  }

  .home__imagem {
    height: 30vh;
  }

  .home__titulo {
    font-size: 1.2em;
    margin: 0;
  }

  .home__titulo-secundario {
    font-size: 1em;
  }

  .cont-home {
    margin-top: 30px;
    text-align: center;
    width: 50%;
  }
}
