.menu {
  padding: 5px 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-image: linear-gradient(#9536f6, #2b2d30);
}
.menu__titulo {
  font-size: 1.7em;
  width: 250px;
  color: #fff;
}

.menu__lista {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  list-style-type: none;
}

.menu__link {
  font-size: 1rem;
  line-height: 1.3;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
}

.menu__link:hover {
  color: rgb(49, 223, 6);
}

@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
  .menu__titulo {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .menu__lista {
    flex-direction: column;
  }

  .menu__link {
    font-size: 1em;
  }
}


